<div class="ministry-header"></div>
<div class="ministry-content">
  <div class="container">
    <div class="name">
      <h1 data-aos="fade-right" data-aos-duration="500" data-aos-once="true">HOSTS</h1>
      <h2 data-aos="fade-up" data-aos-duration="700" data-aos-once="true">ministry</h2>
    </div>
    <div class="description">
      <p class="p">
        Hosting Ministry is an avenue for individuals who has the talent in effective communication and entertainment for any Elevate events; leading the audience with glee and enjoyment not only to the event but also to the main motive of the event who is God.
      </p>
    </div>
  </div>
</div>
<app-join-now-banner></app-join-now-banner>
<div class="text-dark">
  <app-footer></app-footer>
</div>
