<div class="ministry-header"></div>
<div class="ministry-content">
  <div class="container">
    <div class="name">
      <h1 data-aos="fade-right" data-aos-duration="500" data-aos-once="true">12 BASKETS</h1>
      <h2 data-aos="fade-up" data-aos-duration="700" data-aos-once="true">ministry</h2>
    </div>
    <div class="description">
      <p class="p">
        We've all got at least one thing in common — we all need to eat.
      </p>
      <p class="p">
        12 Baskets AKA Food Ministry is a team who wants to share the goodness and faithfulness of Jesus to people through sharing and serving food. If you have the same desire  in serving food for others, this ministry is for you!
      </p>
    </div>
  </div>
</div>
<app-join-now-banner></app-join-now-banner>
<div class="text-dark">
  <app-footer></app-footer>
</div>
