/* Global Variables */

$font-family-base:      'Montserrat', sans-serif;
$font-weight-base:      400;
$font-size-base:        1rem;
$line-height-base:      22px;
$letter-spacing-base:   normal;

$primary-color:     #eb1a23;
$secondary-color:   #fff;

/* Text Colors */
$text-blue:     #012681;
$text-yellow:   #FF9100;
$text-white:    #FFFFFF;

/* Breakpoints */
$breakpoints-xs:        0px;
$breakpoints-sm:       576px;
$breakpoints-md:       768px;
$breakpoints-lg:       992px;
$breakpoints-xl:       1200px;
$breakpoints-xxl:      1440px;

/* Containers */
$container-max-width:       100%;
$container-max-width-sm:    100%;
$container-max-width-md:    100%;
$container-max-width-lg:    976px;
$container-max-width-xl:    1140px;
$container-max-width-xxl:   1280px;
