<div class="ministry-header"></div>
<div class="ministry-content">
  <div class="container">
    <div class="name">
      <h1>R&D</h1>
      <h2>Research & Development <br>ministry</h2>
    </div>
    <div class="description">
      <p class="p">
        R&D Ministry is a team responsible for planning, preparing and putting together Biblical topics applicable to the real needs of the students, that will in time bring significant transformation through the power of the Holy Spirit.
      </p>
    </div>
    <div class="mt-3">
      <a href="https://form.jotform.com/203081761344450" class="btn btn-primary btn-grow">Join Now!</a>
    </div>
  </div>
</div>
