<div class="ministry-header"></div>
<div class="container">
  <app-breadcrumb></app-breadcrumb>
</div>
<div class="ministry-content">
  <div class="container">
    <div class="name">
      <h1 data-aos="fade-right" data-aos-duration="500" data-aos-once="true">Prayer Partner</h1>
      <h2 data-aos="fade-up" data-aos-duration="700" data-aos-once="true">ministry</h2>
    </div>
    <div class="description">
      <p class="p">
        Prayer is an essential need of the ministry.
      </p>
      <p class="p">
        Being part of this team is a privilege to serve God through praying - as one and as the backbone of this movement.
      </p>
    </div>
  </div>
</div>
<app-join-now-banner></app-join-now-banner>
<div class="text-dark">
  <app-footer></app-footer>
</div>
