<div class="ministry-header"></div>
<div class="ministry-content">
  <div class="container">
    <div class="name">
      <h1 data-aos="fade-right" data-aos-duration="500" data-aos-once="true">IRON SAINTS</h1>
      <h2 data-aos="fade-up" data-aos-duration="700" data-aos-once="true">ministry</h2>
    </div>
    <div class="description">
      <p class="p">
        The iron saints ministry is simply the avenue on which we use and show our talent through dancing to share the gospel of Jesus to the lost and to encourage the youth in the faith. Our movement serves as a tool that God uses to create an atmosphere of praise, worship and usher God's people into His presence.
      </p>
    </div>
  </div>
</div>
<app-join-now-banner></app-join-now-banner>
<div class="text-dark">
  <app-footer></app-footer>
</div>
