<div class="ministry-header"></div>
<div class="container">
  <app-breadcrumb></app-breadcrumb>
</div>
<div class="ministry-content">
  <div class="container">
    <div class="name">
      <h1 data-aos="fade-right" data-aos-duration="500" data-aos-once="true">EXALT</h1>
      <h2 data-aos="fade-up" data-aos-duration="700" data-aos-once="true">ministry</h2>
    </div>
    <div class="description">
      <p class="p">
        Exalt Team is a group of imperfect individuals who were given both the heart and skills to serve either in singing or playing instruments which will then be used in bringing honor, glory and praise to the one audience who deserves it all.
      </p>
      <p class="p">
        Our Goals are to prepare the heart's of people before hearing God's word, living a life of worship on/off the spotlight and convey the message of each song we perform.
      </p>
    </div>
  </div>
</div>
<app-join-now-banner></app-join-now-banner>
<div class="text-dark">
  <app-footer></app-footer>
</div>
