@import '../../../styles/variables';

#bg-vid {
  background-color: #1f1f1f;
  position: fixed;
  top:0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

.section {
  padding: 8rem 0;
}

.section-header {
  font-family: 'Kanit', sans-serif;
  font-size: 2.5rem;
  letter-spacing: 1px;
  margin-bottom: 5.25rem;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.5rem;
    height: 0.5rem;
    width: 4rem;
    background-color: $text-yellow;
  }
}

.section-1 {
  height: 100vh;
  display: grid;
  align-items: center;

  .header-text {
    color: #fff;
    font-family: 'Kanit', sans-serif;
    font-size: 10.5rem;
    font-style: italic;
    line-height: 0.8;
    letter-spacing: 2px;
  }

  h2 {
    letter-spacing: 3px;
    margin-top: 1rem;
  }

  .btn, .btn-link {
    margin-top: 3rem;
    font-size: 1rem;
    padding: 1rem 2rem;

    &-grow:hover {
      padding: 1rem 3rem 1rem 2.5rem;
    }
  }
}


.section-2 {
  background-color: #fff;
  background-image: linear-gradient(to left, rgb(45 45 45 / 30%) 0%, rgba(0, 0, 0, 0) 60%);
  opacity: 0.95;
  padding: 12rem 0;

  img {
    padding-left: 4px;
  }

  p:not(.section-header) {
    font-size: 1.8rem;
    letter-spacing: .4px;
    line-height: 1.45;
    max-width: 43rem;
    margin-top: 3rem;
  }

  .mission, .vision {
    margin-top: 10rem;

    p.section-header {
      margin-bottom: 2rem;

      &:after {
        background-color: #26238C;
      }
    }
  }

  .vision {
    margin-top: 4rem;
  }

}


.section-3 {
  background-color: rgb(38 35 140 / .65);

  .ministries-links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: end;
    gap: 4.25rem 2.5rem;
    min-height: 600px;

    .ministry-link {
      position: relative;

      img {
        border-radius: 10px;
        width: 100%;
        height: auto;
        vertical-align: bottom;
        filter: grayscale(1);
        transition: filter 0.55s ease-in-out;
      }

      p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        font-size: 2rem;
        font-weight: 700;
        line-height: 1;
        text-align: center;
        text-transform: uppercase;
      }

      &:hover {
        img {
          filter: grayscale(0);
        }
      }
    }
  }
}

@media (max-width: $breakpoints-lg) {
  .section-1 {
    .header-text {
      font-size: 9rem;
    }

    h2 {
      font-size: 1.25rem;
    }
  }

  .section-2 {
    .elevate > img {
      max-width: 320px;
    }

    p:not(.section-header) {
      font-size: 1.5rem;
      max-width: 36rem;
    }
  }

  .section-3 {
    .ministries-links {
      grid-template-columns: 1fr 1fr;
      gap: 2.5rem;
    }
  }
}

@media (max-width: $breakpoints-sm) {
  .section {
    padding: 6rem 0;
  }

  .section-header {
    font-size: 2rem;
  }

  .section-1 {
    .header-text {
      font-size: 5.25rem;
    }

    h2 {
      font-size: 1rem;
    }

    .btn, .btn-link {
      margin-top: 2rem;
      font-size: .7rem;
      padding: 1rem 1.5rem;
    }
  }

  .section-2 {
    padding: 6rem 0;

    .elevate > img {
      max-width: 200px;
    }

    p:not(.section-header) {
      font-size: 1.15rem;
      max-width: 100%;
    }

    .mission {
      margin-top: 6rem;
    }
  }

  .section-3 {
    .ministries-links {
      gap: 1.5rem;
      min-height: 400px;

      .ministry-link p {
        font-size: 1rem;
      }
    }
  }
}

@media (max-width: 321px) {
  .section-header {
    margin-bottom: 4rem;
  }
  .section-1 {

    .btn,  .btn-link {
      padding: .8rem 1.15rem;
    }
  }
}

@media (min-width: $breakpoints-lg) {
  .ministries-links .ministry-link:last-child {
    grid-column: 2;
  }
}
