<video appVidLazyLoad autoplay muted loop playsinline poster="../../assets/ministry-bazaar/bg.jpg" id="bg-vid">
  <source data-src="../../assets/ministry-bazaar/bg-vid.mp4" type="video/mp4">
</video>

<div class="section-1">
  <div class="container">
    <h1 class="header-text" data-aos="fade-right" data-aos-duration="500" data-aos-once="true">Go <br>Serve.</h1>
    <h2 class="text-white" data-aos="fade-right" data-aos-duration="800" data-aos-once="true">ELEVATE MINISTRY BAZAAR 2021</h2>
    <div data-aos="fade-up" data-aos-duration="500" data-aos-delay="500" data-aos-once="true">
      <a href="https://form.jotform.com/203081761344450" class="btn btn-primary btn-grow">Join Now!</a>
      <a href="#who-we-are" class="btn-link text-white">Learn More</a>
    </div>
  </div>
</div>

<div class="section section-2" id="who-we-are">
  <div class="container">
    <div class="elevate">
      <img src="../../assets/ministry-bazaar/elevate-logo-black.png" alt="Elevate" data-aos="fade-right" data-aos-duration="700" data-aos-once="true">
      <p data-aos="fade-up" data-aos-duration="700" data-aos-once="true">
        ELEVATE is a nationwide student movement which aims to take students to the next <strong>LEVEL</strong>. We want every student to experience a <strong>L</strong>ife <strong>E</strong>mpowered through <strong>V</strong>alues, <strong>E</strong>xcellence, and <strong>L</strong>eadership.
      </p>
    </div>
    <div class="mission">
      <p class="p section-header" data-aos="fade-right" data-aos-duration="700" data-aos-once="true">Mission</p>
      <p data-aos="fade-up" data-aos-duration="700" data-aos-once="true">
        To honor God and make Christ-committed students who will make Christ-committed students.
      </p>
    </div>
    <div class="vision">
      <p class="p section-header" data-aos="fade-right" data-aos-duration="700" data-aos-once="true">Vision</p>
      <p data-aos="fade-up" data-aos-duration="700" data-aos-once="true">
        Our vision is to see a movement of millions of committed students of the Lord Jesus Christ meeting in small groups and transforming lives, families, campuses, communities, nations, for the glory of God.
      </p>
    </div>
  </div>
</div>

<div class="section section-3" id="ministry">
  <div class="container">
    <p class="p section-header text-white" data-aos="fade-right" data-aos-duration="700" data-aos-once="true">Our ministries</p>

    <div class="ministries-links" data-aos="fade-up" data-aos-duration="700" data-aos-delay="300" data-aos-once="true">
      <a class="ministry-link" [routerLink]="['/ministries/exalt']">
        <img src="../../assets/ministry-bazaar/ministries/exalt.jpg" alt="Exalt">
        <p>Exalt</p>
      </a>
      <a class="ministry-link" [routerLink]="['/ministries/multimedia']">
        <img src="../../assets/ministry-bazaar/ministries/multimedia.jpg" alt="Multimedia">
        <p>Multimedia</p>
      </a>
      <a class="ministry-link" [routerLink]="['/ministries/iron-saints']">
        <img src="../../../assets/ministry-bazaar/ministries/iron-saints.jpg" alt="Iron Saints">
        <p>Iron Saints</p>
      </a>
      <a class="ministry-link" [routerLink]="['/ministries/hosts']">
        <img src="../../assets/ministry-bazaar/ministries/hosts.jpg" alt="Hosts">
        <p>Hosts</p>
      </a>
      <a class="ministry-link" [routerLink]="['/ministries/live-prod']">
        <img src="../../assets/ministry-bazaar/ministries/live-prod.jpg" alt="Live Prod">
        <p>Live Prod</p>
      </a>
      <a class="ministry-link" [routerLink]="['/ministries/ushering']">
        <img src="../../assets/ministry-bazaar/ministries/ushering.jpg" alt="Ushering">
        <p>Ushering</p>
      </a>
      <a class="ministry-link" [routerLink]="['/ministries/gospel-sharing']">
        <img src="../../assets/ministry-bazaar/ministries/gospel-sharer.jpg" alt="Gospel Sharer">
        <p>Gospel Sharer</p>
      </a>
      <a class="ministry-link" [routerLink]="['/ministries/watchmen']">
        <img src="../../assets/ministry-bazaar/ministries/watchmen.jpg" alt="Watchmen">
        <p>Watchmen</p>
      </a>
      <a class="ministry-link" [routerLink]="['/ministries/twelve-baskets']">
        <img src="../../assets/ministry-bazaar/ministries/twelve-baskets.jpg" alt="12 Baskets">
        <p>12 Baskets</p>
      </a>
      <a class="ministry-link" [routerLink]="['/ministries/marketing']">
        <img src="../../assets/ministry-bazaar/ministries/marketing.jpg" alt="Marketing">
        <p>Marketing</p>
      </a>
      <a class="ministry-link" [routerLink]="['/ministries/rnd']">
        <img src="../../assets/ministry-bazaar/ministries/rnd.jpg" alt="Research & Development">
        <p>Research & Development</p>
      </a>
      <a class="ministry-link" [routerLink]="['/ministries/crafts']">
        <img src="../../assets/ministry-bazaar/ministries/crafts.jpg" alt="Crafts">
        <p>Crafts</p>
      </a>
      <a class="ministry-link" [routerLink]="['/ministries/prayer-partner']">
        <img src="../../assets/ministry-bazaar/ministries/prayer-partner.jpg" alt="Prayer Partner">
        <p>Prayer Partner</p>
      </a>
    </div>
  </div>
</div>
<div class="text-white">
  <app-footer></app-footer>
</div>
