<video appVidLazyLoad autoplay muted loop playsinline poster="../../assets/ministry-bazaar/bg.jpg" id="bg-vid">
  <source data-src="../../assets/ministry-bazaar/bg-vid.mp4" type="video/mp4">
</video>

<div class="section-1">
  <div class="container">
    <h1 class="header-text">Go <br>Serve.</h1>
    <h2 class="text-white">ELEVATE MINISTRY BAZAAR 2020</h2>
    <a href="#who-we-are" class="btn btn-primary btn-grow">Learn More</a>
  </div>
</div>

<div class="section section-2" id="who-we-are">
  <div class="container">
    <img appImgLazyLoad src="../../assets/ministry-bazaar/elevate-logo-black.png" alt="Elevate">
    <p>
      ELEVATE is a nationwide student organization that aims to take students to the next <strong>LEVEL</strong>. We want every student to experience a <strong>L</strong>ife <strong>E</strong>mpowered through <strong>V</strong>alues, <strong>E</strong>xcellence, and <strong>L</strong>eadership.
    </p>
  </div>
</div>

<div class="section section-3" id="ministry">
  <div class="container">
    <p class="p section-header text-white">our ministries</p>

    <div class="ministries-links">
      <a class="ministry-link" href="#">
        <img src="../../assets/ministry-bazaar/ministries/exalt.jpg" alt="">
        <p>Exalt</p>
      </a>
      <a class="ministry-link" href="#">
        <img src="../../assets/ministry-bazaar/ministries/exalt.jpg" alt="">
        <p>Multimedia</p>
      </a>
      <a class="ministry-link" href="#">
        <img src="../../assets/ministry-bazaar/ministries/exalt.jpg" alt="">
        <p>Iron Saints</p>
      </a>
      <a class="ministry-link" href="#">
        <img src="../../assets/ministry-bazaar/ministries/exalt.jpg" alt="">
        <p>Hosts</p>
      </a>
      <a class="ministry-link" href="#">
        <img src="../../assets/ministry-bazaar/ministries/exalt.jpg" alt="">
        <p>Live Prod</p>
      </a>
      <a class="ministry-link" href="#">
        <img src="../../assets/ministry-bazaar/ministries/exalt.jpg" alt="">
        <p>Ushering</p>
      </a>
      <a class="ministry-link" href="#">
        <img src="../../assets/ministry-bazaar/ministries/exalt.jpg" alt="">
        <p>Gospel Sharer</p>
      </a>
      <a class="ministry-link" href="#">
        <img src="../../assets/ministry-bazaar/ministries/exalt.jpg" alt="">
        <p>Watchmen</p>
      </a>
      <a class="ministry-link" href="#">
        <img src="../../assets/ministry-bazaar/ministries/exalt.jpg" alt="">
        <p>12 Baskets</p>
      </a>
      <a class="ministry-link" href="#">
        <img src="../../assets/ministry-bazaar/ministries/exalt.jpg" alt="">
        <p>Technicals</p>
      </a>
      <a class="ministry-link" href="#">
        <img src="../../assets/ministry-bazaar/ministries/exalt.jpg" alt="">
        <p>Research & Development</p>
      </a>
      <a class="ministry-link" href="#">
        <img src="../../assets/ministry-bazaar/ministries/exalt.jpg" alt="">
        <p>Crafts</p>
      </a>
    </div>
  </div>
</div>
<app-footer></app-footer>
