<video appVidLazyLoad autoplay muted loop playsinline poster="../../assets/ministry-bazaar/bg.jpg" id="bg-vid">
  <source data-src="../../assets/ministry-bazaar/bg-vid.mp4" type="video/mp4">
</video>

<div class="section-1">
  <div class="container">
    <h1 class="header-text">Go <br>Serve.</h1>
    <h2 class="text-white">ELEVATE MINISTRY BAZAAR 2020</h2>
    <div>
      <a href="#who-we-are" class="btn btn-primary btn-grow">Join Now!</a>
      <a href="#who-we-are" class="btn-link">Learn More</a>
    </div>
  </div>
</div>

<div class="section section-2" id="who-we-are">
  <div class="container">
    <div class="elevate">
      <img appImgLazyLoad src="../../assets/ministry-bazaar/elevate-logo-black.png" alt="Elevate">
      <p>
        ELEVATE is a nationwide student organization that aims to take students to the next <strong>LEVEL</strong>. We want every student to experience a <strong>L</strong>ife <strong>E</strong>mpowered through <strong>V</strong>alues, <strong>E</strong>xcellence, and <strong>L</strong>eadership.
      </p>
    </div>
    <div class="mission">
      <p class="p section-header">Mission</p>
      <p>
        To honor God and make Christ-committed followers who will make Christ-committed followers.
      </p>
    </div>
    <div class="vision">
      <p class="p section-header">Vision</p>
      <p>
        Our vision is to see a movement of millions of committed students of the Lord Jesus Christ meeting in small groups and transforming lives, families, campuses, communities, nations, for the glory of God.
      </p>
    </div>
  </div>
</div>

<div class="section section-3" id="ministry">
  <div class="container">
    <p class="p section-header text-white">Our ministries</p>

    <div class="ministries-links">
      <a class="ministry-link" href="#">
        <img src="../../assets/ministry-bazaar/ministries/exalt.jpg" alt="">
        <p>Exalt</p>
      </a>
      <a class="ministry-link" href="#">
        <img src="../../assets/ministry-bazaar/ministries/exalt.jpg" alt="">
        <p>Multimedia</p>
      </a>
      <a class="ministry-link" href="#">
        <img src="../../assets/ministry-bazaar/ministries/exalt.jpg" alt="">
        <p>Iron Saints</p>
      </a>
      <a class="ministry-link" href="#">
        <img src="../../assets/ministry-bazaar/ministries/exalt.jpg" alt="">
        <p>Hosts</p>
      </a>
      <a class="ministry-link" href="#">
        <img src="../../assets/ministry-bazaar/ministries/exalt.jpg" alt="">
        <p>Live Prod</p>
      </a>
      <a class="ministry-link" href="#">
        <img src="../../assets/ministry-bazaar/ministries/exalt.jpg" alt="">
        <p>Ushering</p>
      </a>
      <a class="ministry-link" href="#">
        <img src="../../assets/ministry-bazaar/ministries/exalt.jpg" alt="">
        <p>Gospel Sharer</p>
      </a>
      <a class="ministry-link" href="#">
        <img src="../../assets/ministry-bazaar/ministries/exalt.jpg" alt="">
        <p>Watchmen</p>
      </a>
      <a class="ministry-link" href="#">
        <img src="../../assets/ministry-bazaar/ministries/exalt.jpg" alt="">
        <p>12 Baskets</p>
      </a>
      <a class="ministry-link" href="#">
        <img src="../../assets/ministry-bazaar/ministries/exalt.jpg" alt="">
        <p>Marketing</p>
      </a>
      <a class="ministry-link" href="#">
        <img src="../../assets/ministry-bazaar/ministries/exalt.jpg" alt="">
        <p>Research & Development</p>
      </a>
      <a class="ministry-link" href="#">
        <img src="../../assets/ministry-bazaar/ministries/exalt.jpg" alt="">
        <p>Crafts</p>
      </a>
    </div>
  </div>
</div>
<app-footer></app-footer>
