<div class="ministry-header"></div>
<div class="container">
  <app-breadcrumb></app-breadcrumb>
</div>
<div class="ministry-content">
  <div class="container">
    <div class="name">
      <h1 data-aos="fade-right" data-aos-duration="500" data-aos-once="true">MULTIMEDIA</h1>
      <h2 data-aos="fade-up" data-aos-duration="700" data-aos-once="true">ministry</h2>
    </div>
    <div class="description">
      <p class="p">
        The use of social media is now a norm for young people. Yet, not everything we find on it is good, helpful or glorifies God. It is our aim to lead the young people to Christ online or offline.
      </p>
      <p class="p">
        In our team, we use our God-given creativeness in editing posters and videos and our main goal in this ministry is to glorify God by delivering relevant and clearer messages through different mediums (photos, posters, videos, etc.) and varying platforms (facebook, instagram, youtube, etc.).
      </p>
      <p class="p">
        By doing this, we are glorifying God and also making an impact on the youth.
      </p>
    </div>
  </div>
</div>
<app-join-now-banner></app-join-now-banner>
<div class="text-dark">
  <app-footer></app-footer>
</div>
