<div class="ministry-header"></div>
<div class="ministry-content">
  <div class="container">
    <div class="name">
      <h1 data-aos="fade-right" data-aos-duration="500" data-aos-once="true">GOSPEL SHARER</h1>
      <h2 data-aos="fade-up" data-aos-duration="700" data-aos-once="true">ministry</h2>
    </div>
    <div class="description">
      <p class="p">
        Gospel Sharers Ministry is the primary role of every believer who is saved through faith in Jesus  Christ. Our goal is to share the good news to others which God desires that every man on earth should believe and receive Nothing that happens to us is wasted if we do all things for God’s glory. As we continue living a life of obedience and surrender, may we be used by God to be salt and light to others who need to hear the greatest news of hope, the gospel of Jesus Christ!
      </p>
    </div>
  </div>
</div>
<app-join-now-banner></app-join-now-banner>
<div class="text-dark">
  <app-footer></app-footer>
</div>
