<div class="ministry-header"></div>
<div class="ministry-content">
  <div class="container">
    <div class="name">
      <h1 data-aos="fade-right" data-aos-duration="500" data-aos-once="true">WATCHMEN</h1>
      <h2 data-aos="fade-up" data-aos-duration="700" data-aos-once="true">ministry</h2>
    </div>
    <div class="description">
      <p class="p">
        Watchmen/DGM Ministry is a team who focuses on registrations - offline and online. It's also like a matchmaking ministry, student to dgroup kind. We refer them to a group according to their preferences. Numbers and lots of data are our forte. Just like how the Shepherd counts His sheep, we want to follow His example by not missing out on anyone.
      </p>
    </div>
  </div>
</div>
<app-join-now-banner></app-join-now-banner>
<div class="text-dark">
  <app-footer></app-footer>
</div>
