<div class="ministry-header"></div>
<div class="container">
  <app-breadcrumb></app-breadcrumb>
</div>
<div class="ministry-content">
  <div class="container">
    <div class="name">
      <h1 data-aos="fade-right" data-aos-duration="500" data-aos-once="true">CRAFTS</h1>
      <h2 data-aos="fade-up " data-aos-duration="700" data-aos-once="true">ministry</h2>
    </div>
    <div class="description">
      <p class="p">
        Crafts Ministry is a team for those who want to serve God with their talent in arts and design. It's a place where you can be free and be creative. An avenue where you can develop your skills in craftsmanship and creativity.
      </p>
    </div>
  </div>
</div>
<app-join-now-banner></app-join-now-banner>
<div class="text-dark">
  <app-footer></app-footer>
</div>
