<div class="ministry-header"></div>
<div class="ministry-content">
  <div class="container">
    <div class="name">
      <h1>CRAFTS</h1>
      <h2>ministry</h2>
    </div>
    <div class="description">
      <p class="p">
        Crafts Ministry is a team for those who want to serve God with their talent in arts and design. It's a place where you can be free and be creative. An avenue where you can develop your skills in craftsmanship and creativity.
      </p>
    </div>

    <div class="mt-3">
      <a href="https://form.jotform.com/203081761344450" class="btn btn-primary btn-grow">Join Now!</a>
    </div>
  </div>
</div>
