<div class="ministry-header"></div>
<div class="ministry-content">
  <div class="container">
    <div class="name">
      <h1 data-aos="fade-right" data-aos-duration="500" data-aos-once="true">USHERING</h1>
      <h2 data-aos="fade-up" data-aos-duration="700" data-aos-once="true">ministry</h2>
    </div>
    <div class="description">
      <p class="p">
        Ushering Ministry is a team who greet the first time and regular guests with a smile and make them feel welcome with a warm handshake or friendly handwave. We know and believe and receive God’s unconditional love, and, in Christ, we are called to extend that same unconditional love to others
      </p>
    </div>
  </div>
</div>
<app-join-now-banner></app-join-now-banner>
<div class="text-dark">
  <app-footer></app-footer>
</div>
