<div class="ministry-header"></div>
<div class="container">
  <app-breadcrumb></app-breadcrumb>
</div>
<div class="container">
  <app-breadcrumb></app-breadcrumb>
</div>
<div class="ministry-content">
  <div class="container">
    <div class="name">
      <h1 data-aos="fade-right" data-aos-duration="500" data-aos-once="true">LIVE PROD</h1>
      <h2 data-aos="fade-up" data-aos-duration="700" data-aos-once="true">ministry</h2>
    </div>
    <div class="description">
      <p class="p">
        We ELEVATE CDO LIVE PRODUCTION TEAM start on cue of THREE, Concept Live Producer; TWO, Quality Control of all coordinating teams; And ONE, overall head of online youth service. All for God's Glory!
      </p>
    </div>
  </div>
</div>
<app-join-now-banner></app-join-now-banner>
<div class="text-dark">
  <app-footer></app-footer>
</div>
