.container {
  padding-top: 6rem;
  padding-bottom: 4rem;
}

.footer-connect {
  color: #fff;
  font-family: 'Kanit';
  font-size: 3rem;
  letter-spacing: .42px;
  line-height: 1;
  margin-bottom: 1.25rem;
}

.copyright {
  color: #fff;
  letter-spacing: 1px;
  margin-top: 3rem;
}
