@import '../../../styles/variables';

.container {
  padding-top: 6rem;
  padding-bottom: 4rem;
}

.footer-connect {
  color: inherit;
  font-family: 'Kanit';
  font-size: 4rem;
  letter-spacing: .42px;
  line-height: 1;
  margin-bottom: 1.25rem;
}

.copyright {
  color: inherit;
  letter-spacing: 1px;
  margin-top: 3rem;
}

@media (max-width: $breakpoints-sm) {
  .footer-connect {
    font-size: 3rem;
  }
}
