@import '../../styles/variables';

#bg-vid {
  background-color: #1f1f1f;
  position: fixed;
  top:0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

.section {
  padding: 8rem 0;
}

.section-header {
  font-family: 'Kanit', sans-serif;
  font-size: 2.5rem;
  letter-spacing: 1px;
  margin-bottom: 5.25rem;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.5rem;
    height: 0.5rem;
    width: 4rem;
    background-color: $text-yellow;
  }
}

.section-1 {
  height: 100vh;
  display: grid;
  align-items: center;

  .header-text {
    color: #fff;
    font-family: 'Kanit', sans-serif;
    font-size: 10.5rem;
    font-style: italic;
    line-height: 0.8;
    letter-spacing: 2px;
  }

  h2 {
    letter-spacing: 3px;
    margin-top: 1rem;
  }

  .btn {
    margin-top: 3rem;
    font-size: 1rem;
    padding: 1rem 2rem;

    &-grow:hover {
      padding: 1rem 3rem 1rem 2.5rem;
    }
  }
}


.section-2 {
  background-color: #fff;
  background-image: linear-gradient(to left, rgb(45 45 45 / 30%) 0%, rgba(0, 0, 0, 0) 60%);
  text-align: center;
  opacity: 0.95;

  img {
    padding-left: 4px;
    max-width: 320px;
  }

  p {
    font-size: 1.5rem;
    letter-spacing: .4px;
    line-height: 1.618;
    max-width: 38rem;
    margin: 3rem auto auto;
  }

}


.section-3 {
  background-color: rgb(38 35 140 / .35);

  .ministries-links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: end;
    gap: 4rem 2.5rem;

    .ministry-link {
      position: relative;

      img {
        border-radius: 10px;
        width: 100%;
        height: auto;
        vertical-align: bottom;
        filter: grayscale(1);
      }

      p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        font-size: 2rem;
        font-weight: 700;
        line-height: 1;
        text-align: center;
        text-transform: uppercase;
      }

      &:hover {
        img {
          filter: grayscale(0);
        }
      }
    }
  }
}

